/* @import 'normalize.css'; bring in normalize.css styles */

@import-normalize;

@font-face {
  font-family: 'Apercu Arabic Pro';
  src: url(./fonts/ApercuArabicPro-Regular.woff2);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Apercu Arabic Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
